# Kconfig - Maxim DS18B20 Programmable Resolution 1-Wire Digital Thermometer

#
# Copyright (c) 2019 Sven Schwermer
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig DS18B20
	bool "Maxim DS18B20 1-Wire temperature sensor"
	depends on W1
	help
	  Enable Maxim DS18B20 Programmable Resolution 1-Wire Digital Thermometer.

if DS18B20

config DS18B20_NAME
	string "Driver name"
	default "TEMP_0"
	help
	  Name for the device instance of the DS18B20 driver.

config DS18B20_W1_INST
	string "1-Wire bus name"
	default "W1_0"
	help
	  Name for the device instance 1-Wire bus driver.

endif # DS18B20
